/*mobile first*/
.Skills {
  font-size: 15px;
  width: 95%;
  margin-bottom: 30px;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
  .Skills {
    font-size: 17px;
  }
}

/*large devices (Ex. large tablets, small laptops)*/
@media ( min-width: 991px) {
  .Skills {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
  }
}

/*extra large devices (Ex. large desktops)*/
@media (min-width: 1440px) {
  .Skills {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
  }
}