.Navigation {
  background-color: rgb(241, 240, 255);
  padding-bottom: 10px;
  position: fixed;
  margin-top: 136px;
  width: 100vw;
}

.NavigationTabs {
  display: none;
}

.Button {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(62, 41, 90);
  background-color: rgb(252, 249, 255);
  border: 2px solid  rgb(62, 41, 90);
  margin-left: 10px;
  border-radius: 10%;
  cursor: pointer;
}

.Button:hover {
  background-color: white;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
  .Navigation {
    margin-top: 190px;
  }
  
  .NavigationTabs {
    display: none;
  }

  .Button {
    font-size: 28px;
    margin-left: 15px;
  }
}

/*large devices (Ex. large tablets, small laptops)*/
@media ( min-width: 991px) {
  .Navigation {
    padding-bottom: 0;
    border-top: 1px solid white;
    margin-top: 210px;
  }
  
  .NavigationTabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100vw;
  }

  .Button {
    display: none;
  }
}